body {
    padding: 0px;
    background-color: rgb(236, 240, 248);
}

.red {
    color:crimson;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}

.hidden {
    display: none;
}

.rounded {
  margin-top: 16px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);

}
.contain {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 14px 0 16px;
    background-color: rgb(236, 240, 248);
    margin-bottom: 200px;
    
}

header {
    width: 100%;
    background-image: url("../images/globe.png");
    background-position: 3px 6px;
    background-repeat: no-repeat;
    background-color: #5785b5;
    color:azure;
    height: 90px; 
}
.jumbo {
    height: 280px;
    background-image: url("../images/travel.jpg");
    background-size: cover;

}

.jumbo p {
  text-align: center; 
  size: 36px;
}

.jumbo h2 {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 60px 20px 0px 20px;
    text-align: center;
    font-size: 60px;
    color:azure;
    text-shadow: 2px 2px #19181b;

}
header h1 {
   padding: 30px 0px 0px 60px;
   margin: 0px;
   font-family: 'Noto Sans', sans-serif;
   text-shadow: 2px 2px #070707;

}
.dropdown {
    max-width: 336px;

}
.purpose {
    margin: 0px;
    text-align: center;
}

.purpose p {
    margin: 0px;
    padding: 16px 18px 0 18px;
    font-size: 38px;
    background-color: rgb(180, 204, 235);
    height: 140px;
    color:rgb(64, 65, 39);
    
}



@media screen and (max-width: 530px) {
    .jumbo h2{
      font-size: 30px;
    }
  }

  @media screen and (max-width: 532px) {
    .jumbo {
      height: 180px;
      background-image: url("../images/travel.jpg");
  }
}


  @media screen and (max-width: 872px) {
    .purpose p{
      font-size: 28px;
    }
  }

  @media screen and (max-width: 532px) {
    .purpose p{
      font-size: 22px;
    }
  }

  @media screen and (max-width: 400px) {
    .purpose {
  
    }
   
  }

